Django==1.5
Markdown==2.5.1
Pillow==2.6.1
dj-database-url==0.3.0
dj-static==0.0.6
django-crispy-forms==1.4.0
gunicorn==19.1.1
psycopg2==2.5.4
pystache==0.5.4
static==1.1.0
static3==0.5.1
unicodecsv==0.9.4
wsgiref==0.1.2
sorl-thumbnail==3.2.5